body {
    font-family: "Open Sans", sans-serif;
    background-color: #b39ddb;
}

.content {
    text-align: center;
    margin: 4px;
}

.artist {
    border-radius: 50%;
}

.album {
    border-radius: 4%;
}

.link a {
    text-decoration: none;
    color: #1a237e;
    font-weight: bold;
}

.link a:hover {
    text-decoration: underline;
    color: #5c6bc0;
}