<!doctype html>

<head>
    <title>Music ToGo</title>
    <link rel="stylesheet" type="text/css" href="static/style5.css">
</head>


<h1 class="content">{{songName}}</h1>

<div class="content">
    <h2>by {{artistName}}</h2>
    <img class="artist" height="70px" width="70px" src={{artistImageUrl}} />
</div>

<div class="content">
    <img class="album" src={{songImageUrl}} />
</div>

<div class="content">
    <audio controls src={{songPreviewUrl}}>
        Your browser does not support the
        <code>audio</code> element.
    </audio>
</div>

<div class="content link">
    <a href={{lyricsUrl}} target="_blank">Click here to see the lyrics!</a>
</div>